@import '~CommonStyles';

.page-header {
  position: relative;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;

    background-image: url('./bg.jpg');
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(3.5px) brightness(30%);
  }

  &__container {
    padding: 30px 50px 30px 100px;
    position: relative;
    z-index: 10;
  }
}